/vendor
/.idea
/.vscode
/.vagrant
.phpunit.result.cache
.env
.claude/
/database/database.sqlite
builds/
*.phar

# Testing & Coverage
/coverage
build/
.phpunit.cache/
phpunit.xml

# Components - Build your own? Publish them!
# We don't track local components to encourage publishing to the ecosystem
conduit-components/
